@layout('layouts.principal')
@section('main')
<script>
	function eliminar(index)
	{
		alert("Eliminando: "+index)
	}

	
	$(document).ready(async function() {
		try{
			const objeto=JSON.parse(localStorage.getItem('Pcart'))
			
			cart=objeto
			console.log(JSON.stringify(cart))
			
			//for(var i=0; i<objeto.cart.length;i++)
			objeto.cart.forEach(async (x,i) =>
			{
				j=i	
				try{
					var respuesta=await axios.get('getProduct?id='+objeto.cart[i].Product)
					
					respuesta=respuesta.data

					console.log(respuesta)
					var total=formatCurrency("es-CO", "COP", 0, parseInt(respuesta.price)*parseInt(objeto.cart[j].Quantity));
					var appe=document.getElementById("tabody")
					if(respuesta.image==null)
					{
						respuesta.image="/placeholder.png"
					}
					console.log("quantity id ="+i)
					$(appe).after('<tr><td><div class="thumb_cart"><img  src="'+
						respuesta.image+'" data-src="'+respuesta.image+'" class="lazy"'+
						' alt="'+respuesta.name+'"></div><span class="item_cart">'+
						respuesta.name+'</span></td><td><strong>'+respuesta.price2+
							'</strong></td><td><div class="numbers-row"><input type="text" value="'+objeto.cart[i].Quantity+
								'" id="quantity_'+i+'" class="qty2" name="quantity_'+i+'">'+
								'<div class="inc button_inc">+</div><div class="dec button_inc">-</div></div></td><td><strong>'+
								total+'</strong></td><td class="options"><a href="#"><i class="ti-trash" onclick="eliminar('+i+')">'+
									'</i></a></td></tr>');
				}catch(error2)
				{
					console.log("error2: "+error2)
				}
						
				
			});
		}catch(error)
		{
			window.location.href="/"
		}
	});

	
</script>

	<main class="bg_gray">
		<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li>carrito de compras</li>
				</ul>
			</div>
			<h1>Carrito de compras</h1>
		</div>
		<!-- /page_header -->
		<table class="table table-striped cart-list" id="appe">
							<thead>
								<tr>
									<th>
										Productos
									</th>
									<th>
										Precio
									</th>
									<th>
										cantidad
									</th>
									<th>
										subtotal
									</th>
									<th>
										
									</th>
								</tr>
							</thead>

							<tbody id="tabody">
								
								
								
							</tbody>
						</table>

						<div class="row add_top_30 flex-sm-row-reverse cart_actions">
						<div class="col-sm-4 text-right">
							<button type="button" onclick="vaciar()" class="btn_1 gray">Vaciar carrito</button>
						</div>
					</div>
					<!-- /cart_actions -->
	
		</div>
		<!-- /container -->
		
		<div class="box_cart">
			<div class="container">
			<div class="row justify-content-end">
				<div class="col-xl-4 col-lg-4 col-md-6">
			<ul>
				<li>
					<span>Subtotal</span> $14.000
				</li>
				<li>
					<span>Domicilio</span> $7.000
				</li>
				<li>
					<span>Total</span> $21.000
				</li>
			</ul>
			<a href="cart-2.html" class="btn_1 full-width cart">Proceder a pago</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /box_cart -->
		
	</main>
	<!--/main-->
@endsection