@layout('layouts.principal')
@section('main')
	<main>
		<div class="top_banner">
			<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
				<div class="container">
					<div class="breadcrumbs">
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="categories.html">Categorias</a></li>
						<li>{{category.name}}</li>
						</ul>
					</div>
				<h1>{{category.name}}</h1>
				</div>
			</div>
			<img src="../img/bg_cat_shoes.jpg" class="img-fluid" alt="">
		</div>
		<!-- /top_banner -->
			<div id="stick_here"></div>		
			<div class="toolbox elemento_stick">
				<div class="container">
				<ul class="clearfix">
					<li>
						<div class="sort_select">
							<select name="sort" id="sort">
                                    <option selected="selected">Ordenar por</option>
                                    <option value="rating">Menor precio</option>
                                    <option value="date">Mayor precio</option>
                                    <option value="price">Alfabético A-Z</option>
                                    <option value="price-desc">Alfabético Z-A </option>
							</select>
						</div>
					</li>
					
					<li>
						<a href="#0" class="open_filters">
							<i class="ti-filter"></i><span>Filtros</span>
						</a>
					</li>
				</ul>
				</div>
			</div>
			<!-- /toolbox -->
			
			<div class="container margin_30">
			
			<div class="row">
				<aside class="col-lg-3" id="sidebar_fixed">
				    <div class="filter_col">
				        <div class="inner_bt"><a href="#" class="open_filters"><i class="ti-close"></i></a></div>
				        <div class="filter_type version_2">
				            <h4><a href="#filter_1" data-toggle="collapse" class="opened">Categorias</a></h4>
				            <div class="collapse show" id="filter_1">
				                <ul>
				                    <li>
				                        <label class="container_check">Aseo <small>12</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">Cuidado cabello <small>24</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">Medicamentos <small>23</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">Vitaminas <small>11</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                </ul>
				            </div>
				            <!-- /filter_type -->
				        </div>
				        <!-- /filter_type -->
				        <div class="filter_type version_2">
				            <h4><a href="#filter_2" data-toggle="collapse" class="opened">Color</a></h4>
				            <div class="collapse show" id="filter_2">
				                <ul>
				                    <li>
				                        <label class="container_check">Azul <small>06</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">Rojo <small>12</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">Naranja <small>17</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">Negro <small>43</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                </ul>
				            </div>
				        </div>
				        <!-- /filter_type -->
				        
				        <!-- /filter_type -->
				        <div class="filter_type version_2">
				            <h4><a href="#filter_4" data-toggle="collapse" class="closed">Precio</a></h4>
				            <div class="collapse" id="filter_4">
				                <ul>
				                    <li>
				                        <label class="container_check">$0 — $10.000<small>11</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">$10.000 — $30.000<small>08</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">$30.000 — $50.000<small>05</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                    <li>
				                        <label class="container_check">$50.000 — Mas<small>18</small>
				                            <input type="checkbox">
				                            <span class="checkmark"></span>
				                        </label>
				                    </li>
				                </ul>
				            </div>
				        </div>
				        <!-- /filter_type -->
				        <div class="buttons">
				            <a href="#0" class="btn_1">Filtrar</a> <a href="#0" class="btn_1 gray">Borrar Filtros</a>
				        </div>
				    </div>
				</aside>
				<!-- /col -->
				<div class="col-lg-9">
					<div class="row small-gutters">
						@each(product in products)
						<div class="col-6 col-md-4">
							<div class="grid_item">
								<figure>
									<a href="/product_detail/{{product.id}}">
										<img class="img-fluid lazy" style="height: 300px; width: 300px" src="{{product.image}}" onError="this.onerror=null;this.src='{{ assetsUrl('placeholder.png') }}';" data-src="{{product.image}}" alt="">
									</a>
								</figure>
								<a href="product-detail-1.html">
									<h3>{{product.name}}</h3>
								</a>
								<div class="price_box">
									<span class="new_price">{{product.price}}</span>
								</div>
								<ul>
									<li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Agregar al carrito"><i class="ti-shopping-cart"></i><span>Agregar al carrito</span></a></li>
								</ul>
							</div>
							<!-- /grid_item -->
						</div>
						@endeach
						
					</div>
					<!-- /row -->
					<div class="pagination__wrapper">
						<ul class="pagination">
							<li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
							<li>
								<a href="#0" class="active">1</a>
							</li>
							<li>
								<a href="#0">2</a>
							</li>
							<li>
								<a href="#0">3</a>
							</li>
							<li>
								<a href="#0">4</a>
							</li>
							<li><a href="#0" class="next" title="next page">&#10095;</a></li>
						</ul>
					</div>
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->			
				
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->
@endsection