
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Hiperpharma | Inicio</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{{assetsUrl('favicon.png')}}">
	<link rel="icon" href="{{assetsUrl('favicon.png')}}" type="image/x-icon">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	{{ style('css/bootstrap.custom.min.css') }}

	{{ style('css/style.css')}}
	
	

	<!-- SPECIFIC CSS -->
	{{ style('css/home_1.css') }}
	{{ style('css/listing.css') }}
    {{ style('css/product_page.css') }}
	{{ style('css/cart.css') }}
	{{ style('css/checkout.css') }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- YOUR CUSTOM CSS -->
	{{ style('css/custom.css')}}
	<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
  

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div id="float-cta" >
    <span>Envianos un mensaje</span>
    <a href="javascript:void(0);">
		<img class="img -responsive" width="50" src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" alt="">
        <!--<i class="fa fa-whatsapp" aria-hidden="true"></i>
		<i class="fa fa-times" aria-hidden="true"></i>	-->
    </a>
    <div class="whatsapp-msg-container">
        <div class="whatsapp-msg-header">
                  <h6 style="color: #fff">
</h6>
        </div>
        <div class="whatsapp-msg-body">
            <textarea name="whatsapp-msg" class="whatsapp-msg-textarea" placeholder="¿En qué podemos ayudarte? "></textarea></textarea>
        </div>
        <div class="whatsapp-msg-footer">
            <button type="button" class="btn-whatsapp-send">Enviar</button>
        </div>
    </div>
</div>

</head>

<body>

	<script>
		function vaciar()
		{
			localStorage.clear()
			window.alert("Carrito vaciado correctamente")
			window.location.href="/"
		}
		function formatCurrency (locales, currency, fractionDigits, number) {
			var formatted = new Intl.NumberFormat(locales, {
			  style: 'currency',
			  currency: currency,
			  minimumFractionDigits: fractionDigits
			}).format(number);
			return formatted;
		  }
	</script>

	<div id="page">

	<header class="version_2">
		<div class="layer"></div><!-- Mobile menu overlay mask -->
		<div class="main_header">
			<div class="container">
				<div class="row small-gutters">
					<div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
						<div id="logo">
							<a href="/"><img src="{{ assetsUrl('img/logo.png') }}" alt="" width="231" height="58"></a>
						</div>
					</div>
					<nav class="col-xl-9 col-lg-9">
						<a class="open_close" href="javascript:void(0);">
							<div class="hamburger hamburger--spin">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
						</a>
						<!-- Mobile menu button -->
						<div class="main-menu">
							<div id="header_menu">
								<a href="/"><img src="{{ assetsUrl('img/logo.png') }}" alt="" width="100" height="35"></a>
								<a href="#" class="open_close" id="close_in">	<i class="ti-close"></i></a>
							</div>
							<ul>
								<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega">Medicamentos</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
											<div class="col-lg-2">
												<a href="/search?father=Antialergicos y descongestionantes"><h3>Antialergicos y descongestionantes</h3></a>
												<ul>
													<li><a href="/search?category=Dolor de Garganta">Dolor de Garganta</a></li>
													<li><a href="/search?category=Antialergico respiratorio">Antialergico respiratorio</a></li>
													<li><a href="/search?category=Descongestionantes respiratorio">Descongestionantes respiratorio</a></li>
													<li><a href="/search?category=Descongestionante oftalmico">Descongestionante oftalmico</a></li>
													<li><a href="/search?category=Descongestionante otico">Descongestionante otico</a></li>
												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Analgesicos antipiretico">
												<h3>Analgesicos antipiretico</h3>
												</a>
												<ul>
													<li><a href="/search?category=Dolor de Garganta">Dolor de Garganta</a></li>
													<li><a href="/search?category=Cremas Antiinflamatorias">Cremas Antiinflamatorias</a></li>
													<li><a href="/search?category=Fiebre">Fiebre</a></li>
													<li><a href="/search?category=Dolor general">Dolor general</a></li>
													<li><a href="/search?category=Dolor fuerte">Dolor fuerte</a></li>
													<li><a href="/search?category=Dolor abdominal y cólico">Dolor abdominal y cólico</a></li>
													<li><a href="/search?category=Muscular y articular">Muscular y articular</a></li>
													<li><a href="/search?category=Niños">Niños</a></li>
												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=Trastornos Digestivos  Estomago">
												<h3>Trastornos Digestivos  Estomago</h3>
											</a>
												<ul>
													<li><a href="/search?category=Antiflatulentos">Antiflatulentos</a></li>
													<li><a href="/search?category=Antiacidos y antiulcerosos">Antiacidos y antiulcerosos</a></li>
													<li><a href="/search?category=Antiparasitarios">Antiparasitarios</a></li>
													<li><a href="/search?category=Digestivos">Digestivos</a></li>
													<li><a href="/search?category=Antidiarréicos y sueros">Antidiarréicos y sueros</a></li>
													<li><a href="/search?category=Laxantes y fibras">Laxantes y fibras</a></li>
													<li><a href="/search?category=Productos para el mareo">Productos para el mareo</a></li>
												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=Oftamológicos">
												<h3>Oftamológicos</h3>
											</a>
												<ul>
													<li><a href="/search?category=Colirios">Colirios</a></li>
													<li><a href="/search?category=Solución para lentes de contacto">Solución para lentes de contacto</a></li>
													<li><a href="/search?category=Gotas, lubricantes y lágrimas artificiales">Gotas, lubricantes y lágrimas artificiales</a></li>
													<li><a href="/search?category=parches oculares">parches oculares</a></li>

												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Tratamiento de la gripa y tos ">
												<h3>Tratamiento de la gripa y tos </h3>
												</a>
												<ul>
													<li><a href="/search?category=Resfriado y gripa">Resfriado y gripa</a></li>
													<li><a href="/search?category=Tratamiento de la tos">Tratamiento de la tos</a></li>
													<li><a href="/search?category=Descongestionante">Descongestionante</a></li>
													<li><a href="/search?category=Antigripales adultos">Antigripales adultos</a></li>
													<li><a href="/search?category=Antigripales niños">Antigripales niños</a></li>
													<li><a href="/search?category=Cuidado de la garganta">Cuidado de la garganta</a></li>
													<li><a href="/search?category=Antitusivo">Antitusivo</a></li>
													<li><a href="/search?category=Mucoliticos">Mucoliticos</a></li>

												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Droga blanca ">
												<h3>Droga blanca </h3>
												</a>
												<ul>
													<li><a href="/search?category=Antiseptico">Antiseptico</a></li>
													<li><a href="/search?category=Cuidado de herida y piel">Cuidado de herida y piel</a></li>
													<li><a href="/search?category=Estomago y uso magistral">Estomago y uso magistral</a></li>
												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Vitaminas y productos naturales ">
												<h3>Vitaminas y productos naturales </h3>
												</a>
												<ul>
													<li><a href="/search?category=Vitaminas">Vitaminas</a></li>
													<li><a href="/search?category=Multivitamínicos">Multivitamínicos</a></li>
													<li><a href="/search?category=Naturales">Naturales</a></li>
													<li><a href="/search?category=Minerales">Minerales</a></li>
													<li><a href="/search?category=activador de apetito">activador de apetito</a></li>


												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Dermatológicos ">
												<h3>Dermatológicos </h3>
												</a>
												<ul>
													<li><a href="/search?category=Antifúngicos">Antifúngicos</a></li>
													<li><a href="/search?category=Antibióticos Tópicos">Antibióticos Tópicos</a></li>
													<li><a href="/search?category=Picaduras">Picaduras</a></li>
													<li><a href="/search?category=Antisépticos">Antisépticos</a></li>
													<li><a href="/search?category=Callicidad y Antiarrugas">Callicidad y Antiarrugas</a></li>
													<li><a href="/search?category=Antiprurignoso">Antiprurignoso</a></li>
													<li><a href="/search?category=Protectores dérmicos">Protectores dérmicos</a></li>
													<li><a href="/search?category=Tratamiento de cicatrices y heridas">Tratamiento de cicatrices y heridas</a></li>


												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=Dermatológicos ">
												<h3>Dermatológicos </h3>
											</a>
												<ul>
													<li><a href="/search?category=Tratamiento de psoriasis">Tratamiento de psoriasis</a></li>
													<li><a href="/search?category=Queratolíticos">Queratolíticos</a></li>
													<li><a href="/search?category=Tratamiento de alopecia">Tratamiento de alopecia</a></li>
													<li><a href="/search?category=Cuidado corporal">Cuidado corporal</a></li>
													<li><a href="/search?category=Cuidado Capilar">Cuidado Capilar</a></li>
													<li><a href="/search?category=Cuidado Facial">Cuidado Facial</a></li>
													<li><a href="/search?category=Protección Solar">Protección Solar</a></li>
													<li><a href="/search?category=antivirales topicos">antivirales topicos</a></li>

												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=cuidado heridas primeros auxilios ">
												<h3>cuidado heridas primeros auxilios </h3>
												</a>
												<ul>
													<li><a href="/search?category=algodon">algodon</a></li>
													<li><a href="/search?category=apositos">apositos</a></li>
													<li><a href="/search?category=botiquines">botiquines</a></li>
													<li><a href="/search?category=cicatrizantes">cicatrizantes</a></li>
													<li><a href="/search?category=esparadrapos">esparadrapos</a></li>
													<li><a href="/search?category=curas">curas</a></li>
													<li><a href="/search?category=gasas">gasas</a></li>

												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=cuidado heridas primeros auxilios ">
												<h3>cuidado heridas primeros auxilios </h3>
												</a>
												<ul>
													<li><a href="/search?category=gel antibacterial">gel antibacterial</a></li>
													<li><a href="/search?category=Antisépticos">Antisépticos</a></li>
													<li><a href="/search?category=Compresas">Compresas</a></li>
													<li><a href="/search?category=Vendas">Vendas</a></li>
													<li><a href="/search?category=Jeringas, guantes y material hosp">Jeringas, guantes y material hosp.</a></li>
													<li><a href="/search?category=Aparatos médicos y pastilleros">Aparatos médicos y pastilleros</a></li>
													<li><a href="/search?category=tapabocas ">tapabocas </a></li>

												</ul>
											</div>

											<div class="col-lg-2">
											<a href="/search?father=Bucal">
												<h3>Bucal</h3>
											</a>
												<ul>
													<li><a href="/search?category=Aftas">Aftas</a></li>
													<li><a href="/search?category=Antisépticos Bucales">Antisépticos Bucales</a></li>

												</ul>
											</div>

												<div class="col-lg-2">
												<a href="/search?father=Nutricion y vida saludable ">
												<h3>Nutricion y vida saludable </h3>
												</a>
												<ul>
													<li><a href="/search?category=Complementos para adultos">Complementos para adultos</a></li>
													<li><a href="/search?category=Complementos para niños">Complementos para niños</a></li>
													<li><a href="/search?category=Alimentos saludables">Alimentos saludables</a></li>

												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=Vendas y productos ortopedicos ">
												<h3>Vendas y productos ortopedicos </h3>
											</a>
												<ul>
													<li><a href="/search?category=Calcetines y medias terapeúticas">Calcetines y medias terapeúticas</a></li>
													<li><a href="/search?category=Equipos médicos">Equipos médicos</a></li>
													<li><a href="/search?category=Productos para rehabilitación">Productos para rehabilitación</a></li>
													<li><a href="/search?category=Inhalocamaras y dispositivos">Inhalocamaras y dispositivos</a></li>
													<li><a href="/search?category=vendas de yeso">vendas de yeso</a></li>


												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Cuidado de los pies y antimicóticos ">
												<h3>Cuidado de los pies y antimicóticos </h3>
												</a>
												<ul>
													<li><a href="/search?category=Talcos y desodorantes de pie">Talcos y desodorantes de pie</a></li>
													<li><a href="/search?category=Plantillas">Plantillas</a></li>
													<li><a href="/search?category=Apósitos y tratamiento de callos">Apósitos y tratamiento de callos</a></li>
													<li><a href="/search?category=Accesorios para pies">Accesorios para pies</a></li>
													<li><a href="/search?category=Antimicotico topico">Antimicotico topico</a></li>


												</ul>
											</div>

												<div class="col-lg-2">
												<a href="/search?father=Ginecológicos ">
												<h3>Ginecológicos </h3>
												</a>
												<ul>
													<li><a href="/search?category=Higiene Íntima">Higiene Íntima</a></li>
													<li><a href="/search?category=Antisépticos ginecológicos">Antisépticos ginecológicos</a></li>
													<li><a href="/search?category=Anticonceptivos">Anticonceptivos</a></li>
												</ul>
											</div>

												<div class="col-lg-2">
												<a href="/search?father=Sistemáticos ">
												<h3>Sistemáticos </h3>
												</a>
												<ul>
													<li><a href="/search?category=Insomnio">Insomnio</a></li>
													<li><a href="/search?category=Mareo Cinético">Mareo Cinético</a></li>
													<li><a href="/search?category=Antidepresivos">Antidepresivos</a></li>
													<li><a href="/search?category=ansioliticos">ansioliticos</a></li>

												</ul>
											</div>

											<div class="col-lg-2">
											<a href="/search?father=Incontinencia ">
												<h3>Incontinencia </h3>
											</a>
												<ul>
													<li><a href="/search?category=incontinencia del hombre">incontinencia del hombre</a></li>
													<li><a href="/search?category=incontinencia de la mujer">incontinencia de la mujer</a></li>
													<li><a href="/search?category=protectores topicos">protectores topicos</a></li>
													<li><a href="/search?category=cubiertas-desechables">cubiertas-desechables</a></li>

												</ul>
											</div>

										</div>
										<!-- /row -->
									</div>
									<!-- /menu-wrapper -->
								</li>
									<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega">Cuidado personal</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
											<div class="col-lg-2">
											<a href="/search?father=aseo personal">
												<h3>aseo personal</h3>
											</a>
												<ul>
													<li><a href="/search?category=Desodorantes">Desodorantes</a></li>
													<li><a href="/search?category=jabones-geles">jabones-geles</a></li>
													<li><a href="/search?category=papel-higienico">papel-higienico</a></li>
													<li><a href="/search?category=repelentes">repelentes</a></li>
													<li><a href="/search?category=toallitas-pañitos">toallitas-pañitos</a></li>
													<li><a href="/search?category=Pañuelos faciales">Pañuelos faciales</a></li>
													<li><a href="/search?category=Jabones y gel antibacterial">Jabones y gel antibacterial</a></li>
													<li><a href="/search?category=Afeitada y depilación">Afeitada y depilación</a></li>
													<li><a href="/search?category=Cuidado para pies">Cuidado para pies</a></li>
												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=cuidado oral">
												<h3>cuidado oral</h3>
											</a>
												<ul>
													<li><a href="/search?category=blanqueadores">blanqueadores</a></li>
													<li><a href="/search?category=cuidado-bucal">cuidado-bucal</a></li>
													<li><a href="/search?category=cuidado-protesis">cuidado-protesis</a></li>
													<li><a href="/search?category=enjuages-bucales">enjuages-bucales</a></li>
													<li><a href="/search?category=ortodoncia">ortodoncia</a></li>
													<li><a href="/search?category=Cepillos dentales niños">Cepillos dentales niños</a></li>
													<li><a href="/search?category=Cremas dentales niños">Cremas dentales niños</a></li>
													<li><a href="/search?category=Cepillos dentales adultos">Cepillos dentales adultos</a></li>
													<li><a href="/search?category=Cremas dentales adultos">Cremas dentales adultos</a></li>
														<li><a href="/search?category=														<li><a href=".html">Sedas dentales</a>l">Sedas dentales</a>
													</li>
												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=proteccion femenina">
												<h3>proteccion femenina</h3>
											</a>
												<ul>
													<li><a href="/search?category=jabones intimos">jabones intimos</a></li>
													<li><a href="/search?category=pañitos intimos">pañitos intimos</a></li>
													<li><a href="/search?category=depilacion">depilacion</a></li>
													<li><a href="/search?category=protectores diarios">protectores diarios</a></li>
													<li><a href="/search?category=tampones">tampones</a></li>
													<li><a href="/search?category=geles intimos">geles intimos</a></li>
													<li><a href="/search?category=copas menstruales">copas menstruales</a></li>
													<li><a href="/search?category=toallas higienicas">toallas higienicas</a></li>

												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=cuidado cabello ">
												<h3>cuidado cabello </h3>
												</a>
												<ul>
													<li><a href="/search?category=acondicionadores">acondicionadores</a></li>
													<li><a href="/search?category=shampoo">shampoo</a></li>
													<li><a href="/search?category=tratamientos-capilares">tratamientos-capilares</a></li>
													<li><a href="/search?category=Cremas, geles y fijadores">Cremas, geles y fijadores</a></li>
													<li><a href="/search?category=Ampollas">Ampollas</a></li>
													<li><a href="/search?category=Tintes para cabello">Tintes para cabello</a></li>
													<li><a href="/search?category=Lociones y siliconas">Lociones y siliconas</a></li>
													<li><a href="/search?category=Lacas">Lacas</a></li>
													<li><a href="/search?category=Accesorios cabello">Accesorios cabello</a></li>


												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Cuidado de la Piel ">
												<h3>Cuidado de la Piel </h3>
												</a>
												<ul>
													<li><a href="/search?category=Aceites">Aceites</a></li>
													<li><a href="/search?category=Especializado">Especializado</a></li>
													<li><a href="/search?category=Cuidado facial">Cuidado facial</a></li>
													<li><a href="/search?category=Adelgazantes">Adelgazantes</a></li>
													<li><a href="/search?category=Cuidado corporal">Cuidado corporal</a></li>
													<li><a href="/search?category=cuidado labios">cuidado labios</a></li>
													<li><a href="/search?category=Repelentes e insecticidas">Repelentes e insecticidas</a></li>
													<li><a href="/search?category=proteccion solar">proteccion solar</a></li>
													<li><a href="/search?category=manicura pedicura">manicura pedicura</a></li>
												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Maquillaje">
												<h3>Maquillaje</h3>
												</a>
												<ul>
													<li><a href="/search?category=Permanente">Permanente</a></li>
													<li><a href="/search?category=Semipermanente">Semipermanente</a></li>
													<li><a href="/search?category=Sin amoniaco">Sin amoniaco</a></li>
													<li><a href="/search?category=Rostro">Rostro</a></li>
													<li><a href="/search?category=Ojos">Ojos</a></li>
													<li><a href="/search?category=Labios">Labios</a></li>
													<li><a href="/search?category=Uñas">Uñas</a></li>
													<li><a href="/search?category=accesorios-cosmetica">accesorios-cosmetica</a></li>


												</ul>
											</div>
										</div>
										<!-- /row -->
									</div>
									<!-- /menu-wrapper -->
								</li>
									<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega">maternidad y bebes</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
											<div class="col-lg-2">
											<a href="/search?father=Cuidado de la mamá">
												<h3>Cuidado de la mamá</h3>
											</a>
												<ul>
													<li><a href="/search?category=Antiestrías">Antiestrías</a></li>
													<li><a href="/search?category=nutricion prenatal">nutricion prenatal</a></li>
													<li><a href="/search?category=accesorio de lactancia">accesorio de lactancia</a></li>
													<li><a href="/search?category=toallas de maternidad">toallas de maternidad</a></li>
													<li><a href="/search?category=protectores lacteos">protectores lacteos</a></li>

												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=Accesorios bebé">
												<h3>Accesorios bebé</h3>
											</a>
												<ul>
													<li><a href="/search?category=Mordederas">Mordederas</a></li>
													<li><a href="/search?category=Manicure-limpieza nasal y encias">Manicure-limpieza nasal y encias</a></li>
													<li><a href="/search?category=Termometros">Termometros</a></li>
													<li><a href="/search?category=chupos">chupos</a></li>
													<li><a href="/search?category=biberones">biberones</a></li>

												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=higiene del bebé">
												<h3>higiene del bebé</h3>
											</a>
												<ul>
													<li><a href="/search?category=Champu baby">Champu baby</a></li>
													<li><a href="/search?category=Acondicionador baby">Acondicionador baby</a></li>
													<li><a href="/search?category=Jabon barra baby">Jabon barra baby</a></li>
													<li><a href="/search?category=Jabon liquido baby">Jabon liquido baby</a></li>
													<li><a href="/search?category=Copitos">Copitos</a></li>
													<li><a href="/search?category=Cremas liquidas baby">Cremas liquidas baby</a></li>


												</ul>
											</div>
											<div class="col-lg-2">
											<a href="/search?father=higiene del bebé">
												<h3>higiene del bebé</h3>
											</a>
												<ul>

													<li><a href="/search?category=Aceites baby">Aceites baby</a></li>
													<li><a href="/search?category=Talco baby">Talco baby</a></li>
													<li><a href="/search?category=Colonias baby">Colonias baby</a></li>
													<li><a href="/search?category=pañales">pañales</a></li>
													<li><a href="/search?category=protectores solares y repelentes">protectores solares y repelentes</a></li>
													<li><a href="/search?category=cremas antipañaliticas-dermoprotectoras">cremas antipañaliticas-dermoprotectoras</a></li>

												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Nutricion y Formulas infantiles ">
												<h3>Nutricion y Formulas infantiles </h3>
												</a>
												<ul>
													<li><a href="/search?category=Inicio">Inicio</a></li>
													<li><a href="/search?category=Continuacion">Continuacion</a></li>
													<li><a href="/search?category=Crecimiento">Crecimiento</a></li>
													<li><a href="/search?category=Especializada">Especializada</a></li>
													<li><a href="/search?category=prematuros ">prematuros </a></li>



												</ul>
											</div>
												<div class="col-lg-2">
												<a href="/search?father=Nutricion y Formulas infantiles ">
												<h3>Nutricion y Formulas infantiles </h3>
												</a>
												<ul>

													<li><a href="/search?category=Papillas">Papillas</a></li>
													<li><a href="/search?category=Complementos <br>Alimenticios">Complementos <br>Alimenticios</a></li>
													<li><a href="/search?category=cereales">cereales</a></li>
													<li><a href="/search?category=compotas">compotas</a></li>


												</ul>
											</div>
										</div>
										<!-- /row -->
									</div>
									<!-- /menu-wrapper -->
								</li>
										<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega">Dermocosmetica</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
											<div class="col-lg-2">
											<a href="/search?father=Dermatológicos">
												<h3>Dermatológicos</h3>
											</a>
												<ul>
													<li><a href="/search?category=Antifúngicos">Antifúngicos</a></li>
													<li><a href="/search?category=Antibióticos Tópicos">Antibióticos Tópicos</a></li>
													<li><a href="/search?category=Cicatrizantes">Cicatrizantes</a></li>
													<li><a href="/search?category=Picaduras">Picaduras</a></li>
													<li><a href="/search?category=Antisépticos">Antisépticos</a></li>

												</ul>
											</div>
											<div class="col-lg-2">
												<br>
												<ul>
													<li><a href="/search?category=Callicidad y Antiarrugas">Callicidad y Antiarrugas</a></li>
													<li><a href="/search?category=Antiprurignoso">Antiprurignoso</a></li>
													<li><a href="/search?category=Protectores dérmicos">Protectores dérmicos</a></li>
													<li><a href="/search?category=Tratamiento de cicatrices y heridas">Tratamiento de cicatrices y heridas</a></li>
													<li><a href="/search?category=Tratamiento de psoriasis">Tratamiento de psoriasis</a></li>

												</ul>
											</div>
											<div class="col-lg-2">
												<br>
												<ul>
													<li><a href="/search?category=Queratolíticos">Queratolíticos</a></li>
													<li><a href="/search?category=Cuidado Capilar">Cuidado Capilar</a></li>
													<li><a href="/search?category=Dermolimpiadores">Dermolimpiadores</a></li>
													<li><a href="/search?category=Protección Solar">Protección Solar</a></li>
													<li><a href="/search?category=Hidratantes Faciales">Hidratantes Faciales</a></li>



												</ul>
											</div>
											<div class="col-lg-2">
												<br>
												<ul>
												<li><a href="/search?category=Hidratantes Corporales">Hidratantes Corporales</a></li>
													<li><a href="/search?category=Antiestrías">Antiestrías</a></li>
													<li><a href="/search?category=Antiedad">Antiedad</a></li>
													<li><a href="/search?category=Cremas Corporales">Cremas Corporales</a></li>
												</ul>
											</div>
										</div>
										<!-- /row -->
									</div>
									<!-- /menu-wrapper -->
								</li>
									<li class="submenu">
									<a href="javascript:void(0);" class="show-submenu">Bienestar sexual</a>
									<ul>
										<li><a href="/search?category=Anticonceptivos">Anticonceptivos</a></li>
										<li><a href="/search?category=Disfuncion erectil">Disfuncion erectil</a></li>
										<li><a href="/search?category=Pruebas de embarazo">Pruebas de embarazo</a></li>
										<li><a href="/search?category=Preservativos y lubricantes">Preservativos y lubricantes</a></li>
										<li><a href="/search?category=Cremas y ovulos">Cremas y ovulos</a></li>
										<li><a href="/search?category=accesorios ">accesorios </a></li>

									</ul>
								</li>



							</ul>
						</div>
						<!--/main-menu -->
					</nav>

				</div>
				<!-- /row -->
			</div>
		</div>
		<!-- /main_header -->

		<div class="main_nav Sticky">
			<div class="container">
				<div class="row small-gutters">

					<div class="col-xl-7 col-lg-7 col-md-6 d-none d-md-block">
						<div class="custom-search-input">
							<form method="GET" action="/search">
								<input type="text" name="name" placeholder="¿Qué estás buscando?">
								<button type="submit"><i class="header-icon_search_custom"></i></button>
							</form>
						</div>
					</div>
					<div class="col-xl-4 col-lg-2 col-md-3">
						<ul class="top_tools">
							<li>
								<div class="dropdown dropdown-cart">
									<a href="/cart" class=""><img src="/img/icon_cart.svg" width="30px" height="30px" alt=""></a>

									<div class="dropdown-menu">
										<div class="total_drop">
											<a href="/cart" class="btn_1 outline">Ver Carrito</a>
										</div>
									</div>
								</div>
								<!-- /dropdown-cart-->
							</li>
							<li>

							</li>
							<li>

								<!-- /dropdown-access-->
							</li>
							<li>
								<a href="javascript:void(0);" class="btn_search_mob"><span>Buscar</span></a>
							</li>

						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<div class="search_mob_wp">
				<form method="GET" action="/search">
					<input type="text" name="name" class="form-control" placeholder="¿Qué estás buscando?">
					<input type="submit" class="btn_1 full-width" value="Buscar">
				</form>
			</div>
			<!-- /search_mobile -->
		</div>
		<!-- /main_nav -->
	</header>
	<!-- /header -->
    @section('main')

    @endsection

	<footer class="revealed">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
          <h3 data-target="#collapse_1">Siguenos</h3>
          <div class="collapse dont-collapse-sm sigue" id="collapse_1">
					<div class="follow_us">
            <ul>
              <li> <a href="#"><img src="{{ assetsUrl('img/facebook_icon.svg') }}" alt="" class="lazy"></a></li>
              <li> <a href="#"><img src="{{ assetsUrl('img/instagram_icon.svg') }}" alt="" class="lazy"></a></li>
              <li> <a href="#"><img src="{{ assetsUrl('img/youtube_icon.svg') }}" alt="" class="lazy"></a></li>
            </ul>
          </div>
        </div>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3 data-target="#collapse_2">Nosotros</h3>
					<div class="collapse dont-collapse-sm links" id="collapse_2">
						<ul>
							<li><a target="_blank" href="http://hiperpharma.com/T%C3%89RMINOS%20Y%20CONDICIONES.pdf">Políticas y términos de uso</a></li>
							<li><a target="_blank" href="http://hiperpharma.com/T%C3%89RMINOS%20Y%20CONDICIONES.pdf">Política de Tratamiento de Datos</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<h3 data-target="#collapse_3">Contácto</h3>
					<div class="collapse dont-collapse-sm contacts" id="collapse_3">
						<ul>
							<li><i class="ti-home"></i>Cra 1 # 65 D -58 sur local 1-104 <br>Centro Comercial Altavista</li>
							<li><i class="ti-headphone-alt"></i>+57 310 8878419</li>
							<li><i class="ti-email"></i><a href="#">Comercial@hiperpharma.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<h3 data-target="#collapse_4">Suscríbete para recibir promociones</h3>
					<div class="collapse dont-collapse-sm" id="collapse_4">
						<div id="newsletter">
						    <div class="form-group">
						        <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Ingresa tu correo">
						        <button type="submit" id="submit-newsletter"><i class="ti-angle-double-right"></i></button>
						    </div>
						</div>

					</div>
				</div>
			</div>
			<!-- /row-->
			<hr>
			<div class="row add_bottom_25">
				<div class="col-lg-6">
					<ul class="footer-selector clearfix">

						<li><img src="img/cards_all.svg" alt="" width="198" height="30" class="lazy"></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul class="additional_links">
						<li><span><a target="_blank" href="https://iddominio.com/">DESARROLLADO POR IDDOMINIO © 2020 Copyright</a></span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->

	<div id="toTop"></div><!-- Back to top button -->
	@section('extra')

    @endsection

	<!-- COMMON SCRIPTS -->
	{{ script('js/common_scripts.min.js') }}
	{{ script('js/main.js') }}
  {{ script('js/carousel-home.js') }}
  {{ script('js/whatsapp.js') }}


</body>
</html>
